:root {
	--primary: #cd9b66;
	--secondary: #000;
	--text: #000;
	--border: #ececec;
	--border-radius: 8px;
	--font: sans-serif;
	--font-heading: serif;
	--container-width: 1480px;
}

* {
	box-sizing: border-box;
}

a {
	color: var(--secondary);
}

body {
	font-family: var(--font);
	color: var(--text);
}

.content {
	max-width: var(--container-width);
	margin: 0 auto;
	padding: 0 50px;
	width: 100%;

	@media all and (max-width: 999px) {
		padding: 0 20px;
	}
}
